$VeryLightGray-background-color: hsl(0, 0%, 98%);
$White-text-color: hsl(0, 0%, 100%);
$DarkGray-input-background: hsl(0, 0%, 52%);
$VeryDarkBlue-text-color: hsl(200, 15%, 8%);
$VeryDarkBlue-background-color: hsl(207, 26%, 17%);
$darkBlue-background-color: hsl(209, 23%, 22%);